<div class="container">
  <h1>Users</h1>
  <form [formGroup]="form" class="table">
    <div formArrayName="rowFrom">
      <div *ngFor="let rowFrom of form.get('rowFrom')['controls']; let i = index">
        <form [formGroup]="rowFrom">
          <tr>
            <td style="width: 25%">
              <input *ngIf="!rowFrom.controls.editbale.value" class="form-control" readonly id="email_{{i}}" type="text"
                formControlName="email">
              <input *ngIf="rowFrom.controls.editbale.value" class="form-control" id="email_{{i}}" type="text"
                formControlName="email"
                [ngClass]="{'is-invalid': rowFrom.get('email').errors && rowFrom.get('email').touched} ">
              <div class="invalid-feedback"
                *ngIf="rowFrom.get('email').hasError('required') && rowFrom.get('email').touched">
                Please choose a email
              </div>
              <div class="invalid-feedback"
                *ngIf="rowFrom.get('email').hasError('email') && rowFrom.get('email').touched">
                Email format
              </div>
            </td>
            <td style="width: 15%">
              <input *ngIf="!rowFrom.controls.editbale.value" class="form-control" readonly id="gender_{{i}}"
                type="text" formControlName="gender">
              <select *ngIf="rowFrom.controls.editbale.value" class="form-control" id="gender_{{i}}" type="text"
                formControlName="gender">
                <option>male</option>
                <option>female</option>
              </select>
            </td>
            <td style="width: 20%">
              <input *ngIf="!rowFrom.controls.editbale.value" class="form-control" readonly id="country_{{i}}"
                type="text" formControlName="country">
              <input *ngIf="rowFrom.controls.editbale.value" class="form-control" id="country_{{i}}" type="text"
                formControlName="country"
                [ngClass]="{'is-invalid': rowFrom.get('country').errors && rowFrom.get('country').touched}">
                <div class="invalid-feedback"
                *ngIf="rowFrom.get('country').hasError('required') && rowFrom.get('country').touched">
                Please choose a email
              </div>
            </td>
            <td style="width: 15%">
              <input *ngIf="!rowFrom.controls.editbale.value" class="form-control" readonly id="role_{{i}}"
                formControlName="role">
              <select *ngIf="rowFrom.controls.editbale.value" class="form-control" id="role_{{i}}"
                formControlName="role">
                <option>SE</option>
                <option>PM</option>
              </select>
            </td>
            <td style="width: 15%">
              <div class="in-line">
                <button *ngIf="!rowFrom.controls.editbale.value" (click)="editMode(rowFrom)"
                  class="btn btn-success">Edit</button>
                <button [disabled]="rowFrom.invalid" *ngIf="rowFrom.controls.editbale.value" (click)="saveUser(rowFrom)"
                  class="btn btn-success">Save</button>
                <!-- <a *ngIf="rowFrom.controls.editbale.value" (click)="cancel(rowFrom)" class="btn btn-link">Cancel</a> -->
              </div>
            </td>
          </tr>
        </form>
      </div>
    </div>
  </form>
</div>
