<h1>Leave Requests</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">User</th>
            <th style="width: 20%">Leave Type</th>
            <th style="width: 20%">From Date</th>
            <th style="width: 20%">To Date</th>
            <th style="width: 10%">Status</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lev of leaveRequests">
            <td>{{lev.userEmail}}</td>
            <td>{{lev.type}}</td>
            <td>{{lev.fromDate | date: 'dd-mm-yyyy'}}</td>
            <td>{{lev.toDate | date: 'dd-mm-yyyy'}}</td>
            <td>
              <span *ngIf="lev.status == 'Pending'" class="badge badge-warning">{{lev.status}}</span>
              <span *ngIf="lev.status == 'Approval'" class="badge badge-success">{{lev.status}}</span>
            </td>
            <td style="white-space: nowrap">
                <button (click)="viewLeave(lev)" class="btn btn-sm btn-primary btn-delete-user mr-1">
                    <span >View</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
