<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}: {{leave.status}}</h4>

  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">User:</label>
    <div disabled class="col-sm-10">
      <input type="text" readonly class="form-control" value="{{leave.userEmail}}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Type:</label>
    <div disabled class="col-sm-10">
      <input type="text" readonly class="form-control" value="{{leave.type}}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Project:</label>
    <div disabled class="col-sm-10">
      <input type="text" readonly class="form-control" value="{{leave.project}}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Reason:</label>
    <div disabled class="col-sm-10">
      <textarea type="text" row="2" readonly class="form-control" value="{{leave.reason}}"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Reason:</label>
    <div disabled class="col-sm-4">
      <input type="text" readonly class="form-control" value="{{leave.fromDate}}">
    </div>
    <label class="col-sm-2 col-form-label">Reason:</label>
    <div disabled class="col-sm-4">
      <input type="text" readonly class="form-control" value="{{leave.toDate}}">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="leave.status == 'Approval'" class="btn btn-success" (click)="updateLeave()" >Approval</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
