<h1 *ngIf="isAddMode">Add Leave</h1>
<h1 *ngIf="!isAddMode">Edit Leave</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="reason" class="col-sm-1 col-form-label">Reason:</label>
    <div class="col-sm-11">
      <input formControlName="reason" type="text" class="form-control" id="reason" placeholder="reason"
        [ngClass]="{'is-invalid': form.get('reason').errors && form.get('reason').touched}">
      <div class="invalid-feedback" *ngIf="form.get('reason').hasError('required') && form.get('reason').touched">
        Please choose a reason
      </div>
    </div>
  </div>
  <!-- datpciker -->
  <div class="form-group row">
    <label class="col-sm-1 col-form-label" for="fromDate">From:</label>
    <div class="col-sm-3">
      <input formControlName="fromDate" type="text" class="form-control" bsDatepicker
        placeholder="mm/dd/yyyy" [minDate]="minDate"
        [ngClass]="{'is-invalid': form.get('fromDate').errors && form.get('fromDate').touched}">

      <div class="invalid-feedback" *ngIf="form.get('fromDate').hasError('required') && form.get('fromDate').touched">
        Please choose date
      </div>

    </div>
    <label class="col-sm-1 col-form-label" for="toDate">To :</label>
    <div class="col-sm-3">
      <input formControlName="toDate" type="text" class="form-control" bsDatepicker
      placeholder="mm/dd/yyyy" [minDate]="form.get('fromDate').value"
        [ngClass]="{'is-invalid': form.get('toDate').errors && form.get('toDate').touched}">

      <div class="invalid-feedback" *ngIf="form.get('toDate').hasError('required') && form.get('toDate').touched">
        Please choose date
      </div>

      <div class="invalid-feedback" *ngIf="form.hasError('higherFormDate')">
        To date must higher than from date
      </div>

    </div>
    <label class="col-sm-1 col-form-label" for="toDate">Type:</label>
    <div class="col-sm-3">
      <select formControlName="type" class="form-control"
        [ngClass]="{'is-invalid': form.get('type').errors && form.get('type').touched}">
        <option value="" selected disabled hidden>Choose leave type</option>
        <option value="{{type}}" *ngFor="let type of leaveTypes">{{type}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="form.get('type').hasError('required') && form.get('type').touched">
        Please choose type
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-1 col-form-label" for="fromDate">Project:</label>
    <div class="col-sm-5">
      <input formControlName="project" type="text" class="form-control" placeholder="Project Name"
        [ngClass]="{'is-invalid': form.get('project').errors && form.get('project').touched}">
      <div class="invalid-feedback" *ngIf="form.get('project').hasError('required') && form.get('project').touched">
        Please choose a project
      </div>
    </div>
    <label class="col-sm-1 col-form-label" for="toDate">PM</label>
    <div class="col-sm-5">
      <select formControlName="pm" class="form-control" placeholder="Last name"
        [ngClass]="{'is-invalid': form.get('pm').errors && form.get('pm').touched}">
        <option value="" selected disabled hidden>Choose your pm</option>
        <option value="{{pm.id}}" *ngFor="let pm of pms">{{pm.email}}</option>
      </select>
      <div class="invalid-feedback" *ngIf="form.get('pm').hasError('required') && form.get('pm').touched">
        Please choose PM
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success">Save</button>
    <a routerLink="/leaves" class="btn btn-link">Cancel</a>
  </div>

</form>
