<div class="card">
  <h2 class="card-header text-center text-primary">Login</h2>
  <div class="card-body">
  <form [formGroup]="loginForm" (ngSubmit)=onSubmit()>
    <div class="form-group mt-2">
      <input type="text"
      [ngClass]="{'is-invalid': loginForm.get('email').errors && loginForm.get('email').touched}" id="email"
      class="form-control is-invalid" required formControlName="email" placeholder="Email@email.com">

      <div class="invalid-feedback"
      *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
      Please choose a email
      </div>
      <div class="invalid-feedback"
      *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched">
      Email format
      </div>
    </div>

    <div class="form-group">
      <input type="password"
      [ngClass]="{'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched}"
      class="form-control is-invalid" required formControlName="password" placeholder="Password">

      <div class="invalid-feedback"
      *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched"
      >minlength is 4
      </div>

      <div class="invalid-feedback"
      *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched"
      >Password requied
      </div>

      <div class="invalid-feedback"
      *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched"
      >maxlength is 10
      </div>
    </div>
    <div class="form-group text-center">
      <button [disabled]="!loginForm.valid" class="btn btn-success">
          Login
      </button>
      <a routerLink="../register" class="btn btn-link">Register</a>
  </div>
  </form>
</div>
</div>
