<h1>My leave</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Leave</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 30%">Leave Type</th>
      <th style="width: 30%">From Date</th>
      <th style="width: 30%">To Date</th>
      <th style="width: 30%">Status</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lev of leaves">
      <td>{{lev.type}}</td>
      <td>{{lev.fromDate | date: 'dd-mm-yyyy'}}</td>
      <td>{{lev.toDate | date: 'dd-mm-yyyy'}}</td>
      <td>
        <span *ngIf="lev.status == 'Pending'" class="badge badge-warning">{{lev.status}}</span>
        <span *ngIf="lev.status == 'Approval'" class="badge badge-success">{{lev.status}}</span>
      </td>
      <td style="white-space: nowrap">
        <button [disabled]="lev.status == 'Approval'" routerLink="edit/{{lev.id}}"
          class="btn btn-sm btn-primary btn-delete-user mr-1">
          <span>Edit</span>
        </button>
        <button [disabled]="lev.status == 'Approval'" (click)="deleteLeave(lev.id)"
          class="btn btn-sm btn-danger btn-delete-user">
          <span>Delete</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
