<nav class="navbar navbar-expand-lg navbar-lumen bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">LMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/leaves']">My Leaves</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/users/leaverequest']">Leave request</a>
        </li>
        <li  class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/users']">Users</a>
        </li>
      </ul>
    </div>

    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-primary" dropdownToggle>
        {{user.email}}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)=logout()>Log out</a>
      </div>
    </div>
  </div>
</nav>
